{% extends 'base.html.twig' %}

{% block title %}New Materiel{% endblock %}

{% block styles %}
    <style>
        .container{
            width: 400px;
            margin-top:100px;
        }
    </style>
{% endblock %}
{% block body %}
<div class="container">
    <div class="card ">
        <a href={{ path('materiel_index') }} class=" float-right ">Returne a la liste</a>
      <div class="card-body">
        <div>
            <h4 class="card-title text-center text-uppercase text-primary">Nouveau materiel</h4>
            {{ include('materiel/_form.html.twig') }}     
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}  
    <script>
        // active current page 
        $(document).ready(()=>{
            activeCurrentPage('materiel');
        });
        //end
    </script>
{% endblock %}
